.toast-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  pointer-events: none;
}

.toast-notification.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  pointer-events: auto;
}

.toast-notification.hide {
  opacity: 0;
  visibility: hidden;
  transform: translate(100%);
  pointer-events: none;
}

.toast-success {
  background-color: #4CAF50;
}

.toast-error {
  background-color: #f44336;
}

.toast-info {
  background-color: #2196F3;
}
